.right{
    height: auto;
}
.right ul{
    overflow: hidden;
    margin-left: 40px;
    color: #222;
    font-size: 22px;
}
.li-time{
    overflow: auto;
    width: 140px;
    display: inline-block;
    display: flex;
    align-items: center;
    justify-content: center;
    float: left;
    height: 60px;
}
.now{
    border-bottom: 3px solid #5093E1;
}
.line01{
    margin:auto 5%;
    width: 90%;
    height: 2px;
    background: #EBEBE4;
}

.right button{
    color: #fff;
    background: #5093E1;
    border-radius: 4px;
    font-size: 18px;
    margin-left: 40px;
    width: 85px;
    height: 30px;
}
table{
    margin: 50px;
    width: 90%;
}
.light{
    color:#5093E1;
    cursor: pointer;
}
.time{
    width: 100%;
    height: 30px;
    margin-top: 10px;
}
.do{
    margin-left: 40px;
}
#test1,#test2{
    width: 100px;
    cursor: pointer;
}
.pagination{
    height: 45px;
}
.page{
    display: inline;
    background: #fff;
    height: 30px;
}
.bot{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    height: 62px;
}