<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <!-- SEO -->
    <title>为之后台管理系统</title>
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="../js/jquery-3.2.1.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../css/base.css">
    <link rel="stylesheet" type="text/css" href="../css/login.css">
</head>

<body>
<header>
	<ul>
		<li class="fir"><img src="../images/u341.jpg"></li>
		<li class="sec">为之工作室后台管理系统</li>
		<li class="thr"><a href="" style="color: #fff">退出</a></li>
	</ul>
</header>
<article>

	<div class="right">
		<div id="plusWin">
			<form action="" method="post">
			<div class="row1">
				<span>账号：</span> 
				<input type="text" placeholder="请输入账号" name="username" required="required"/> 
			</div>
			<div class="row1">
				<span>密码：</span>
				<input type="password" placeholder="请输入密码" name="password" required="required"/> 
			</div>
			<input type="submit" value="登录" id="put"/>
		</form>
		</div>
</div>
<script type="text/javascript">
</script>
</article>
</body>
</html>